body{
    background-color: hsl(220, 15%, 80%);
    align-items: center;
}
.main{
    padding-top: 15px;
    border-radius: 15px;
    background-color: white;
    width: fit-content;
    text-align: center;
}
.img{
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.main1{
max-height: max-content;
padding-left: 35%;
width: 20%;
}
.main p{
    margin-left: 14px;
    margin-right: 15px;
}